/* Advisor Card Styles */
.advisors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
  }
  
  .advisor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .advisor-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
  }
  
  .advisor-name,
  .advisor-title {
    text-align: center;
    margin: 0;
  }
  
  .advisor-name {
    height: 2em;
  }
  
  .advisor-title {
    height: 3em;
  }
  
  @media (min-width: 600px) {
    .advisors-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .advisors-grid {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  
  /* Image Container for Advisors */
  .image-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  /* Flip Card Styles */
  .flip-card-container {
    perspective: 1000px;
    width: var(--card-width-small);
    max-width: md;
    height: 450px;
    margin: auto; /* Adjust margin as needed */
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 450px;
  }
  
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 400px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 1rem;
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 400px;
    height: 400px;
    padding: 4rem;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    overflow: hidden;
    background-color: var(--secondary-slate-blue); /* Lighten the card background more */
  color: var(--primary-white); /* Use white or a light color for text for contrast */
  border: 3px solid var(--brand-green-dark); /* Increase border thickness and use a contrasting color */
  box-shadow: 0 8px 15px 0 rgba(var(--primary-dark-blue), 0.5);
  }
  .flip-card-container:hover .flip-card-front,
.flip-card-container:hover .flip-card-back {
  background-color: var(--secondary-navy-blue); /* Adjust for a subtle effect on hover */
  box-shadow: 0 8px 15px 0 rgba(var(--primary-white), 0.5);
  border-color: var(--brand-green-light);
}
  
  .flip-card-back {
    background-color: var(--primary-dark-blue);
    color: #E2E8F0;
    transform: rotateY(180deg);
  }
  
  .flip-card-container:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-back ul {
    list-style: inside; /* Position bullet points inside the list */
  }

  .flip-card-back ul li {
    font-size: 1.1rem; /* Larger font size */
    font-weight: 600; /* Bolder font weight */
    margin-bottom: 0.8rem; /* Spacing between items */
  }
  
  .flip-card-back ul li::before {
    content: '•'; /* Custom bullet point */
    color: #63B3ED; /* Bullet point color */
    font-weight: bold; /* Make bullet points bold */
    display: inline-block; /* Needed to add spacing */
    width: 1em; /* Space before bullet points */
    margin-left: -1em; /* Align bullet points with text */
  }

  .flip-card-back a {
    background-color: #2B6CB0; /* Primary button color */
    padding: 0.5rem 1rem; /* Padding around the text */
    border-radius: 0.375rem; /* Rounded corners */
    font-size: 1rem; /* Button text size */
    transition: background-color 0.3s ease; /* Smooth background color transition */
  }
  
  .flip-card-back a:hover {
    background-color: var(--secondary-deep-blue);
  }

  /* Responsive Adjustments for Flip Cards */
  @media (max-width: 768px) {
    .flip-card-container {
      /* width: var(--card-width-small); Adjust width for smaller screens */
      height: auto;
      max-width: 400px;
      align-items: center;
    }
    .flip-card-front,
    .flip-card-back {
      position: absolute;
      align-items: center;
    }
    .flip-card-front {
      width: 350px;
      height: 250px;
      margin-left: 1rem;
    }
    .flip-card-back {
      width: 350px;
      height: 300px;
      left: 0.5rem;
    }
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      /* padding-right: 1rem; */
      transition: transform 0.6s;
      transform-style: preserve-3d;
      /* border-radius: 1rem; */
    }
    .flip-card-back ul li {
      font-size: 0.9rem; /* Larger font size */
      font-weight: 600; /* Bolder font weight */
      margin-bottom: 0.8rem; /* Spacing between items */
    }
  }
  
  
  @media (min-width: 768px) {
    .flip-card-container {
      width: calc(50% - 2rem); /* Adjust width for 2 cards per row */
    }
  }
  
  @media (min-width: 1024px) {
    .flip-card-container {
      width: calc(50% - 2rem); /* Maintain 2 cards per row on larger screens */
    }

    .core-value {
        flex-basis: 25%; /* Four columns on desktop */
      }
  }

  
  
  

  /* Core Values Styles */
.core-values-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
    padding-top: 100px; 
  }
  
  .core-value {
    flex-basis: calc(50% - 1rem); /* Adjust for two items per row, accounting for some margin */
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0.5rem; /* Adjust margin as needed */
  }
  .core-value img {
    display: block; /* Makes the image a block-level element */
    margin-left: auto;
    margin-right: auto;
    /* Optionally, you can also use text-align for the parent container */
  }
  
  @media (min-width: 768px) {
    .core-value {
      flex-basis: calc(33.33% - 1rem); /* Three columns on tablet */
    }
  }
  
  @media (min-width: 1024px) {
    .core-value {
      flex-basis: calc(25% - 1rem); /* Four columns on desktop */
    }
  }
  
  .privacy-policy-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(59, 59, 59);
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .privacy-policy-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .privacy-policy-content h2 {
    margin-bottom: 1rem;
  }
  
  .privacy-policy-content p {
    margin-bottom: 1rem;
  }
  
  .privacy-policy-content button {
    padding: 0.5rem 1rem;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  
  .privacy-policy-content a {
    color: #007bff;
    text-decoration: underline;
    margin-left: 0.5rem;
  }
  


  .team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; /* Adjust padding to ensure alignment */
  border: 2px solid #49B583; /* Your green border color */
  border-radius: 10px; /* If you want rounded corners */
  margin: 1rem; /* Space between team members */
  width: 100%; /* Ensures that the width is consistent */
}

.team-member img {
  border: 2px solid #49B583; /* Your green border color */
  border-radius: 50%; /* Circular border */
  width: 150px; /* Fixed size */
  height: 150px; /* Fixed size */
}

/* Additional styles to ensure alignment */
.team-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.team-member-card {
  width: 16rem; /* or any other fixed width you prefer */
}
  @media (min-width: 600px) {
    .advisors-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .advisors-grid {
      grid-template-columns: repeat(6, 1fr);
    }
  }