@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42; /* Tailwind's coolGray-900 color */
  --background-end-rgb: 17, 24, 39; /* A slightly lighter coolGray-900 color */
  --button-radius: 9999px;
  --transition-speed: 0.3s;
  --card-bg-start: 14, 165, 233; /* Tailwind's sky-500 color */
  --card-bg-end: 30, 58, 138; /* Tailwind's blue-800 color */
  --card-width-small: 80%; /* Width of the cards on small screens */
  --card-width-large: 22%; /* Width of the cards on large screens */
  --card-margin: 1rem; /* Margin around cards */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 23, 42;
    --background-end-rgb: 17, 24, 39;
    --card-bg-start: 29, 78, 216; /* Tailwind's blue-600 color */
    --card-bg-end: 59, 130, 246; /* Tailwind's blue-500 color */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  font-family: 'Inter', sans-serif;
}
